---
import siteConfig from "../../data/site-config.json";
import CardServicos from "../ui/CardServicos.astro";
import services from "../../data/services.json";

const {
  whatsappLogo,
  realizacaoConvenio,
  encontrosRegulares,
  pagamentoPix,
} = services.textos_comuns;

const { number, message } = siteConfig.whatsapp;

const { terapias } = services;

---

<section class="py-20 bg-slate-50" id="servicos">
  <div class="max-w-6xl mx-auto px-6">
    <!-- Título da Seção -->
    <div class="text-center mb-16">
      <h2
        class="text-3xl font-['Poppins'] lg:text-4xl font-semibold text-slate-900 mb-4" data-aos="fade-up"
      >
        Meus Serviços
      </h2>
      <div class="w-12 h-1 bg-teal-600 rounded-full mx-auto mb-6"></div>
      <p class="text-xl text-slate-600 max-w-3xl mx-auto">
        Buscando exatamente colocar pratica toda essa linda proposta acima e que
        tudo isso possa fazer sentido para o cliente na sua jornada de
        autoconhecimento e bem-estar mental ofereço alguns serviços
        psicológicos:
      </p>
    </div>

    <!-- Grid de Serviços -->
    <div class="grid md:grid-cols-2 gap-8">

      <!-- Orientação Vocacional -->
      <div data-aos="fade-up" data-aos-delay="100">
      <CardServicos
        number={number}
        message={message}
        titulo={terapias.orientacaoVocacional.titulo}
        descricao={terapias.orientacaoVocacional.descricao}
        modalidadeValor={terapias.orientacaoVocacional.modalidadeValor}
        publicoValor={terapias.orientacaoVocacional.publicoValor}
        icone={terapias.orientacaoVocacional.icone}
        whatsappLogo={whatsappLogo}
        realizacaoConvenio={realizacaoConvenio}
        encontrosRegulares={encontrosRegulares}
        pagamentoPix={pagamentoPix}
        duracaoValor={terapias.orientacaoPais.duracaoValor}
      />
      </div>

      <!-- Psicoterapia Infantil -->
      <div data-aos="fade-up" data-aos-delay="200">
      <CardServicos
        number={number}
        message={message}
        titulo={terapias.psicoterapiaInfantil.titulo}
        descricao={terapias.psicoterapiaInfantil.descricao}
        modalidadeValor={terapias.psicoterapiaInfantil.modalidadeValor}
        publicoValor={terapias.psicoterapiaInfantil.publicoValor}
        icone={terapias.psicoterapiaInfantil.icone}
        whatsappLogo={whatsappLogo}
        realizacaoConvenio={realizacaoConvenio}
        encontrosRegulares={encontrosRegulares}
        pagamentoPix={pagamentoPix}
        duracaoValor={terapias.psicoterapiaInfantil.duracaoValor}
      />
      </div>

      <!-- Psicoterapia de Individual -->
      <div data-aos="fade-up" data-aos-delay="300">
      <CardServicos
        number={number}
        message={message}
        titulo={terapias.psicoterapiaIndividual.titulo}
        descricao={terapias.psicoterapiaIndividual.descricao}
        modalidadeValor={terapias.psicoterapiaIndividual.modalidadeValor}
        publicoValor={terapias.psicoterapiaIndividual.publicoValor}
        icone={terapias.psicoterapiaIndividual.icone}
        whatsappLogo={whatsappLogo}
        realizacaoConvenio={realizacaoConvenio}
        encontrosRegulares={encontrosRegulares}
        pagamentoPix={pagamentoPix}
        duracaoValor={terapias.psicoterapiaIndividual.duracaoValor}
      />
      </div>

      <!-- Psicoterapia de Casal -->
      <div data-aos="fade-up" data-aos-delay="400">
      <CardServicos
        number={number}
        message={message}
        titulo={terapias.psicoterapiaCasal.titulo}
        descricao={terapias.psicoterapiaCasal.descricao}
        modalidadeValor={terapias.psicoterapiaCasal.modalidadeValor}
        publicoValor={terapias.psicoterapiaCasal.publicoValor}
        icone={terapias.psicoterapiaCasal.icone}
        whatsappLogo={whatsappLogo}
        realizacaoConvenio={realizacaoConvenio}
        encontrosRegulares={encontrosRegulares}
        pagamentoPix={pagamentoPix}
        duracaoValor={terapias.psicoterapiaCasal.duracaoValor}
      />
      </div>

      <!-- Orientação a Pais -->
      <div data-aos="fade-up" data-aos-delay="500">
      <CardServicos
        number={number}
        message={message}
        titulo={terapias.orientacaoPais.titulo}
        descricao={terapias.orientacaoPais.descricao}
        modalidadeValor={terapias.orientacaoPais.modalidadeValor}
        publicoValor={terapias.orientacaoPais.publicoValor}
        icone={terapias.orientacaoPais.icone}
        whatsappLogo={whatsappLogo}
        realizacaoConvenio={realizacaoConvenio}
        encontrosRegulares={encontrosRegulares}
        pagamentoPix={pagamentoPix}
        duracaoValor={terapias.orientacaoPais.duracaoValor}
      />
      </div>

      <!-- Avaliação Neuropsicológica -->
      <div data-aos="fade-up" data-aos-delay="600">
      <CardServicos
        number={number}
        message={message}
        titulo={terapias.avaliacaoNeuropsicologica.titulo}
        descricao={terapias.avaliacaoNeuropsicologica.descricao}
        modalidadeValor={terapias.avaliacaoNeuropsicologica.modalidadeValor}
        publicoValor={terapias.avaliacaoNeuropsicologica.publicoValor}
        icone={terapias.avaliacaoNeuropsicologica.icone}
        whatsappLogo={whatsappLogo}
        realizacaoConvenio={realizacaoConvenio}
        encontrosRegulares={encontrosRegulares}
        pagamentoPix={pagamentoPix}
        duracaoValor={terapias.avaliacaoNeuropsicologica.campos_especiais.duracaoRecursosValor}
      />
      </div>

    </div>
  </div>
</section>
